// ### Primary

$Desaturated-Red: hsl(0, 36%, 70%);
$Soft-Red: hsl(0, 93%, 68%);

// ### Neutral

$Dark-Grayish-Red: hsl(0, 6%, 24%);

// ### Gradients

$Linear-ligth: linear-gradient(
  135deg,
  rgb(255, 255, 255) 0%,
  rgb(255, 245, 245) 100%
);
$Linear-normal: linear-gradient(
  135deg,
  rgb(248, 191, 191) 0%,
  rgb(238, 140, 140) 100%
);

// ## Typography
$Font-size: 16px;
$Font-Family: "Josefin Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  object-fit: contain;
  height: 100%;
  max-width: 100%;
}
body {
  font-family: $Font-Family;
}
main {
  height: 100vh;
  display: grid;
  grid-template-columns: 55% auto;
  grid-template-areas:
    "header box-img"
    "box-intro box-img";

  .bg {
    background: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    padding: 7rem 12rem 5rem 12rem;
    header {
      grid-area: header;

      .logo {
        max-width: 250px;
        img {
          width: 100%;
        }
      }
    }
    .box-intro {
      display: flex;
      flex-direction: column;
      grid-area: box-intro;
      margin-top: 7rem;
      height: calc(100vh - 30rem);
      max-width: 550px;

      h1 {
        font-size: 5rem;
        font-weight: 600;
        max-width: 80%;
        text-transform: uppercase;
        letter-spacing: 1rem;
        color: $Dark-Grayish-Red;

        span {
          color: $Desaturated-Red;
          font-weight: 300;
        }
      }
      p {
        color: $Desaturated-Red;
        font-size: $Font-size;
        width: 100%;
        letter-spacing: 0.1rem;
        margin-top: auto;
        line-height: 1.8;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50px;
        max-width: 100%;

        justify-self: flex-end;
        margin-top: auto;
        position: relative;

        .input {
          outline: none;
          border-radius: 50px;
          width: 100%;
          border: 2px solid $Desaturated-Red;
          padding: 0 10rem 0 2rem;
          height: 100%;
          min-height: 65px;
          font-size: $Font-size;
          font-family: $Font-Family;
          font-weight: 700;

          &::placeholder {
            color: $Desaturated-Red;
            opacity: 0.7;
            letter-spacing: 0.15rem;
          }
          &.error {
            border: 2px solid $Soft-Red;
            padding: 1rem 10rem 1rem 2rem;
          }
          &.error ~ span.error,
          &.error ~ .icon-erro {
            display: block;
          }
        }
        button {
          border: 0;
          display: flex;
          justify-content: center;
          padding: 1rem 0;
          width: 120px;
          height: 100%;
          min-height: 65px;
          border-radius: 50px;

          position: absolute;
          right: 0;

          background: $Linear-normal;
          cursor: pointer;
          transition: 0.3s ease-in-out;

          &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.479);
            filter: brightness(1.2);
          }
        }
        .icon-erro {
          display: none;
          position: absolute;
          top: 32px;
          right: 25%;
          transform: translateY(-50%);
        }
        span.error {
          display: none;
          color: $Soft-Red;
          padding: 0.7rem 2rem;
          animation: opacy 0.3s ease-in-out forwards;
        }
      }
    }
  }

  .box-img {
    grid-area: box-img;
    background: url("../images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
}

footer {
  width: 100%;
  .attribution {
    padding: 1rem 0;
    font-size: 11px;
    text-align: left;
    padding-left: 12rem;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
}

@media (max-width: 1200px) {
  main {
    .bg {
      width: 100%;
      padding: 7rem 3rem 5rem 3rem;
      .box-intro {
        max-width: 100%;
        width: 100%;

        h1 {
          max-width: 100%;
          font-size: 3.5rem;
        }
        p {
          max-width: 100%;
          width: 100%;
        }
        form {
          width: 100%;
          max-width: 100%;
          .input {
            padding: 0rem 7rem 0rem 2rem;
          }

          button {
            height: 50px;
          }
          .icon-erro {
            position: absolute;
            top: 32px;
            right: 28%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

@media (max-width: 780px) {
  main {
    display: flex;
    flex-direction: column;

    .bg {
      padding: 0;
      order: 2;
      header {
        grid-area: header;
        width: 100%;
        position: absolute;
        top: 0;
        .logo {
          padding: 1rem;

          max-width: 200px;
          img {
            width: 100%;
          }
        }
      }

      .box-intro {
        grid-area: box-intro;
        margin-top: 1rem;
        margin: 0 auto;
        max-width: 420px;
        height: calc(100vh - 35rem);
        h1 {
          font-size: 2.5rem;
          padding: 0 1rem;
          text-align: center;
          margin-top: 2rem;
          letter-spacing: 0.7rem;
          font-weight: 600;
          line-height: 1.2;
        }
        p {
          font-size: 0.875rem;
          padding: 0 1rem;
          margin-top: 1rem;
          text-align: center;
        }
        form {
          max-width: calc(100% - 2rem);
          margin: auto;

          .input {
            font-size: 0.875rem;
            padding: 0rem 7.5rem 0rem 2rem;
            min-height: 55px;
            max-height: 55px;
            &::placeholder {
              font-size: 0.875rem;
            }
          }
          button {
            padding: 0.5rem 2rem;
            font-size: 0.875rem;
            height: 55px;
            max-height: 55px;
            min-height: 55px;
            width: 95px;
          }
          .icon-erro {
            top: 27px;
            right: 28%;
            transform: translateY(-50%);
          }
          span.error {
            font-size: 12px;
          }
        }
      }
    }
    .box-img {
      background: url(../images/hero-mobile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      height: 60vh;
      margin-top: 4rem;
    }
  }
  footer {
    order: 4;
    width: 100%;
    .attribution {
      text-align: center;
      padding-left: 0rem;
    }
    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  }
}
@media (max-width: 420px) {
  main {
    .bg {
      .box-intro {
        max-width: 330px;
        h1 {
          font-size: 2rem;
          letter-spacing: 0.5rem;
        }
        p {
          font-size: 0.845rem;
          letter-spacing: 0rem;
          margin-bottom: 1rem;
          line-height: 1.4;
        }
        form {
          .input {
            padding: 0rem 7rem 0rem 2rem;
            font-size: 0.845rem;
            height: 100%;
            max-height: 45px;
            min-height: 45px;
            &::placeholder {
              font-size: 0.845rem;
            }
          }
          button {
            width: 80px;
            height: 100%;
            max-height: 45px;
            min-height: 45px;
            font-size: 0.845rem;
          }
          .icon-erro {
            top: 22px;
            right: 30%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
}

@keyframes opacy {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
